@charset "utf-8";
/************************************************

@style.css

©︎ULM Co.,Ltd. - https://www.ulm-design.com
************************************************/



/************************************************
sp
************************************************/

 #wrapper {
		text-align: center;
	}

	section {
		padding-bottom: 20px;
	}

 

/*
  #top
		-------------------------------*/
	#top {
		padding: 0;
		}

	.main-img {
		width: 100%;
		margin: 0 auto;
	}

	.main-read {
		width: 100%;
		margin: -1px auto;
	}
	 
	
	.arrow {
		width: 20px;
		display: inline-block;
		position: absolute;
		margin-left: 10px;
	} 

#title { 
	font-size: 36px;
	font-weight: 900; 
	color: #920783;
	background:linear-gradient(transparent 88%, #ffff66 0%);
	width: 253px;
	margin: 0 auto;
	margin-bottom: 30px;
	padding-top: 5%;
	margin-top: 20px;
}



	/*
  #special
  -------------------------------*/

#special {
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
}

#luxury {
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
}

#haishin{
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
}

#rental {
	background-color: #fff;
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}

#normal {
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 60px;
}

	.package-ttl {
		margin: -1px auto;
		padding: 20px 0;
		font-size: 20px;
		background: #920783; 
		color: #fff;
	}

	.ttl-min {
		font-size: 17px;
	}

	.jacket-img0 {
		width: 45%;
		margin: 20px auto;
	}

	.jacket-img1 {
		width: 45%;
		margin: 20px auto;
	}
 

.product-detail {
		width: 90%; 
		margin: 0 auto; 
		text-align: left; 
	}

.product-ttl {
		color: #920783;
		font-size: 24px;
		font-weight: 600;
		line-height: 1.4;
		margin-top: 30px;
		margin-bottom: 10px;
	}
 

.contents {
	font-size: 14px;
	line-height: 2;
}

.contents-ttl {
		color: #4484bd;
		font-size: 13px;
		font-weight: 500;
		line-height: 2;
	}

	#special .product-detail p:nth-child(4) {
 	margin: 20px 0 0;
	}

	#special .product-detail p:nth-child(6) {
		padding: 20px 0;
	}
 

#special-detail {
	margin-top: 30px;
}


#tokuteneizoAll{
width: 350px;
margin: 0 auto 30px; 
}

#tokuteneizoblock{
width: 340px;
margin: 3px;
border: 2px solid #920783;
position: relative;
display: table;
}

.tokuteneizotxtblock{
width: 95%;
padding: 0 0 15px;
margin: 0 auto;
}

#tokuteneizoM{
background-color: #920783;
width: 100%;
}

#tokuteneizoMtxt{
width: 100%;
font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
font-size: 18px;
color: #fff;
font-weight: 600;
text-align: center;
line-height: 2em;
}


#tokuteneizoTxtAll{
width: 98%;
padding: 10px 0;
margin: 0 auto;
}

#tokuteneizoTxt{
width: 100%;
font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
font-weight: 600;
font-size: 13px;
line-height: 1.7em;
text-align: left;
padding: 10px;
}

.tokutenColor{ color: #920783; margin-left: -7px; font-size: 120%;}

.tokuteneizoTxtS{
width: 95%;
margin: 0 auto;
font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
font-weight: 500;
font-size: 12px;
line-height: 1.5em;
padding: 0 0 10px;
}

.tokuteneizoTxtS2{
font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
font-weight: 500;
font-size: 12px;
line-height: 1.5em;
letter-spacing: -0.5px;
margin-left: -5px;
}


/*

tokuten

*/
  


#tokuten { 
	background: url("../img/bg_tokuten.jpg") no-repeat 100% 0;
	background-size: cover;
	}	

#tokuten h3 {
	color: #fff;
	font-size: 30px;
	padding: 60px;
	
}
	
.caution {
	color: #fff;
	font-size: 1em;
	line-height: 1.5;
	text-align: left; 
	padding-top: 10px;
	width: 90%;
	margin: 0 auto;
}
	
.tokuten-bnr { 
	width: 160px;
	margin: 8px;
	}
	
 
.bnr-container {
		width: 95%; 
		margin: 30px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

.bnr {
		width: 47%;
		margin: 5px;
		border: 1px solid #ccc;
	}

.haishin {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.5;
	}	

.haishin-txt {
	font-size: 55px;
}


.rental {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
}

.rental-txt {
	font-size: 12px;
	padding-top: 10px;
}

.footer {
	margin: 5%;
	font-size: 11px;
	line-height: 1.5;
	color: #920783;
}

/*
  #reserve
		-------------------------------*/
	.bg1 {
		background: url(../img/sp_bg_4.jpg) no-repeat 100% 0;
		background-size: cover;
	}

	#reserve h3 , #webcast h3 {
		padding: 15px 0;
		background: url(../img/sp_btn_bg.jpg) no-repeat 100% 0;
		background-size: cover;
		font-size: 16px;
		color: #fff;
	}

/*
	#footer
	-------------------------------*/


	@media print {
		*,img {
			background: #fff;
			display: none;
			opacity: 0;
		}
	}

@media all and (min-width: 813px) {
	
	

	/*
			#top
			-------------------------------*/
		.buy-btn a {
			font-size: 24px;
		}

	.arrow {
		width: 26px;
	}

	.buy-btn {
		padding: 12px 0;
		background: url(../img/pc_btn_bg.jpg) no-repeat 100% 0;
		background-size: cover;
	}
	
 
	
#special {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
}

#luxury {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
}

#normal {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 60px;
}

#haishin {
	background-color: #fff;
	width: 60%;
	margin: 0 auto;
	padding: 30px;
}	


#rental {
	background-color: #fff;
	width: 60%;
	margin: 0 auto;
	padding: 40px;
}	
 
	/*
		#special
	-------------------------------*/	
 
	
	#special-detail {
		margin-top: 5%;
	}
 


	.package-ttl {
		font-size: 27px;
		font-family: "ＭＳ Ｐ明朝", "MS PMincho","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
	}

	.ttl-min {
		font-size: 22px;
	}
	
	.jacket-img0 {
		width: 20%;
		max-width: 700px;
		margin: 50px auto;
	}

	.jacket-img1 {
		width: 50%;
		max-width: 250px;
		margin: 50px auto;
	}
	
 

	.product-container {
		display: flex;
		justify-content: space-between;
		width: 88%;
		max-width: 1280px;
		margin: 0 auto;
	}

	.product-detail {
		max-width: 496px;
		width: 47%;
		padding: 10px 25px 0;
	}
	
	


	#special .product-detail p:nth-child(5) {
		position: relative;
		margin-left: 48px;
		top: -22px
	}

	#special .product-detail p:nth-child(6) {
		padding: 0 0 20px;
	}

	.product-ttl {
		font-size: 24px;
	}

	.price {
		font-size: 26px;
	}

	.number {
		font-size: 16px;
	}

	.contents {
		font-size: 15px;
		min-height: fit-content;
	}
 

	.contents-ttl {
		font-size: 21px;
	}

	#special-detail h3 {
		padding: 25px;
		font-size: 27px;
		text-align: center;
	}

	.special-read {
		width: 70%;
		max-width: 1200px;
		font-size: 16px;
		margin: 30px auto;
	}

	.detail-ttl {
		font-size: 26px;
	}

	#special-detail .product-detail {
		display: flex;
		justify-content: space-around;
		align-items: flex-end;
		width: 70%;
		max-width: 1280px;
		padding: 30px 20px;
	}

	.detail-flex {
		width: 400px;
		padding: 0 20px;
	}

	
	
	

#tokuteneizoAll{
width: 100%;
margin: 0 auto 60px; 
}

#tokuteneizoblock{
width: 90%; height: 452px;
margin: 0 auto;
border: 2px solid #920783;
position: relative;
display: table;
}

.tokuteneizotxtblock{
width: 100%;
padding: 0 0 15px;
}

#tokuteneizoM{
background-color: #920783;
width: 180px;height: 450px;
position: absolute;
top: 0; left: 0;
z-index: 1;
}

#tokuteneizoMtxt{
width: 240px;
position: absolute;
top: 50%; left: 50%;
transform: translateY(-50%) translateX(-50%);
z-index: 2;
font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
font-size: 24px;
color: #fff;
font-weight: 600;
text-align: center;
line-height: 1.2em;
}


#tokuteneizoTxtAll{
width: 810px; height: 709px;
position: absolute;
top: 0; left: 240px;
z-index: 2;
}

#tokuteneizoTxt{
width: 88%;
position: absolute;
top: 33%; left: 39%;
transform: translateY(-50%) translateX(-50%);
z-index: 2;
font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
font-weight: 600;
font-size: 18px;
line-height: 1.5em;
text-align: left;
}

.tokutenColor{ color: #920783; margin-left: -10px;}

.tokuteneizoTxtS{
width: 95%;
margin: 0 auto;
font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
font-weight: 500;
font-size: 14px;
line-height: 1.5em;
padding: 0 0 10px;
}

.tokuteneizoTxtS2{
font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "sans-serif";
font-weight: 500;
font-size: 16px;
line-height: 1.5em;
}



#tokuten { 
	background: url("../img/bg_tokuten.jpg") no-repeat 100% 0;
	background-size: cover;
	}	

#tokuten h3 {
	color: #fff;
	font-size: 30px;
	padding: 60px;
	
}
	
.caution {
	color: #fff;
	font-size: 1em;
	line-height: 1.5;
	text-align: left;
	margin-top: 20px;
	margin-left: 23%;
	margin-bottom: 30px;
}
	
	
.tokuten-bnr { 
	width: 250px;
	margin: 10px;
	}
 
#list {
	margin: 0 auto;
	width: 70%;
	}	
	
 
.bnr-container {
		width: 80%;
		max-width: 1280px;
		margin: 70px auto 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.bnr {
		width: 20%;
		margin: 0px 20px 20px 0;
		border: 1px solid #ccc;
	}
	
	
	
	.rental {
		color: #000;
	}

.footer{
	margin: 20px;
	padding: 20px;
	font-size: 13px;
	line-height: 1.6;
	color: #920783;
}
	
 
		

} 
